.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  min-height: 4em;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: rgb(255, 167, 239);
}

#logo-img {
  width: 5em;
}

#navigation-options {
  display: flex;
  list-style: none;
  gap: 1em;
}

.nav-option {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-option:hover {
  color: rgb(255, 167, 239);
}
